[Unit]
Description=Run grocery-tempmon every 30 s

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
AccuracySec=1s
Unit=grocery-tempmon.service

[Install]
WantedBy=timers.target
